accelerate==0.20.3
addict==2.4.0
alabaster==0.7.13
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-types==0.7.0
anyio==4.4.0
ast_decompiler==0.8.0
astatine==0.3.3
astor==0.8.1
astpretty==3.0.0
astroid==2.15.8
asttokens==2.4.1
attrs==23.2.0
autoflake==1.7.8
Babel==2.15.0
bandit==1.7.9
beautifulsoup4==4.12.3
black==23.12.1
bleach==6.1.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cachetools==5.3.3
certifi==2024.6.2
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1723018376978/work
chardet==5.2.0
charset-normalizer==3.3.2
chumpy==0.70
click==8.1.7
cmake==3.25.0
cognitive_complexity==1.3.0
colorama==0.4.6
coverage==7.5.4
crcmod==1.7
cryptography==45.0.4
ctcdecode @ file:///data/group1/z40575r/CorrNet_pose_distillation/ctcdecode
cycler==0.12.1
Cython==3.1.2
darglint==1.8.1
decord==0.6.0
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
dlint==0.15.0
dnspython==2.6.1
doc8==1.1.1
docformatter==1.7.5
docutils==0.19
domdf-python-tools==3.8.1
einops==0.8.1
email_validator==2.2.0
eradicate==2.3.0
exceptiongroup==1.2.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.20.0
filelock==3.14.0
flake8==5.0.4
flake8-2020==1.8.1
flake8-aaa==0.17.0
flake8-annotations==3.1.1
flake8-annotations-complexity==0.0.8
flake8-annotations-coverage==0.0.6
flake8-bandit==4.1.1
flake8-black==0.3.6
flake8-blind-except==0.2.1
flake8-breakpoint==1.1.0
flake8-broken-line==0.6.0
flake8-bugbear==23.3.12
flake8-builtins==1.5.3
flake8-class-attributes-order==0.1.3
flake8-coding==1.3.2
flake8-comments==0.1.2
flake8-comprehensions==3.14.0
flake8-debugger==4.1.2
flake8-django==1.4
flake8-docstrings==1.7.0
flake8-encodings==0.5.1
flake8-eradicate==1.5.0
flake8-executable==2.1.3
flake8-expression-complexity==0.0.11
flake8-fastapi==0.7.0
flake8-fixme==1.1.1
flake8-functions==0.0.8
flake8-future-annotations==0.0.5
flake8-helper==0.2.2
flake8-isort==6.1.1
flake8-literal==1.4.0
flake8-logging-format==0.9.0
flake8-markdown==0.5.0
flake8-mutable==1.2.0
flake8-no-pep420==2.7.0
flake8-noqa==1.4.0
flake8-pie==0.16.0
flake8-plugin-utils==1.3.3
flake8-pyi==22.11.0
flake8-pylint==0.2.1
flake8-pytest-style==1.7.2
flake8-quotes==3.4.0
flake8-rst-docstrings==0.3.0
flake8-secure-coding-standard==1.4.1
flake8-string-format==0.3.0
flake8-tidy-imports==4.10.0
flake8-typing-imports==1.15.0
flake8-use-fstring==1.4
flake8-use-pathlib==0.3.0
flake8-useless-assert==0.4.4
flake8-variables-names==0.0.6
flake8-warnings==0.4.0
flake8_cognitive_complexity==0.1.0
flake8_functions_names==0.4.0
flake8_simplify==0.21.0
fsspec==2024.6.1
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.30.2
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
hypothesis==6.104.1
hypothesmith==0.1.9
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
imageio==2.35.1
imagesize==1.4.1
importlib_metadata==8.0.0
importlib_resources==6.4.0
iniconfig==2.0.0
isort==5.13.2
Jinja2==3.1.4
jmespath==0.10.0
json-tricks==3.17.3
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab-flake8==0.7.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.5
lark-parser==0.12.0
lazy-object-proxy==1.10.0
libcst==0.4.10
lit==15.0.7
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.4.3
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
mmcv-full==1.6.2
mmdet==2.25.2
mmengine==0.10.7
mmpose==0.29.0
model-index==0.1.11
mpmath==1.3.0
mr-proper==0.0.7
munkres==1.1.4
mypy-extensions==1.0.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
networkx==3.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1687808301083/work
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.20.5
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.1.105
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1701735466804/work
opencv-python==4.5.5.64
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.2
ordered-set==4.1.0
orjson==3.10.5
oss2==2.17.0
packaging==24.1
pandas==1.3.4
pandas-vet==0.2.3
pandocfilters==1.5.1
pathspec==0.12.1
pbr==6.0.0
pep8-naming==0.14.1
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
pluggy==1.5.0
psutil==7.0.0
pybetter==0.4.1
pycln==2.4.0
pycocotools==2.0.7
pycodestyle==2.9.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pycryptodome==3.23.0
pydantic==2.7.4
pydantic_core==2.18.4
pydocstyle==6.3.0
pyemojify==0.2.0
pyflakes==2.5.0
Pygments==2.18.0
pylint==2.17.7
pyparsing==3.1.2
pyproject-api==1.7.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest==7.4.4
pytest-cov==4.1.0
pytest-sugar==0.9.7
python-dateutil==2.9.0.post0
python-dev-tools==2023.3.24
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2023.4
pyupgrade==3.16.0
PyYAML==6.0
pyzmq==26.0.3
referencing==0.35.1
regex==2024.11.6
removestar==1.5
requests==2.28.2
restructuredtext_lint==1.4.0
rich==13.4.2
rpds-py==0.18.1
scipy==1.9.3
shapely==2.0.7
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
Sphinx==6.2.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
ssort==0.13.0
starlette==0.37.2
stdlib-list==0.10.0
stevedore==5.2.0
sympy==1.12.1
tabulate==0.9.0
termcolor==2.4.0
terminaltables==3.1.10
tinycss2==1.3.0
tokenize-rt==5.2.0
tokenizers==0.13.3
tomli==2.0.1
tomlkit==0.12.5
torch==2.4.1
torchaudio==0.10.1
torchvision==0.19.1
tornado==6.4.1
tox==4.15.1
tox-travis==0.12
tqdm==4.65.2
traitlets==5.14.3
transformers @ git+https://github.com/huggingface/transformers.git@cae78c46d658a8e496a815c2ee49b9b178fb9c9a
triton==3.0.0
typer==0.12.3
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
ujson==5.10.0
untokenize==0.1.1
urllib3==1.26.20
uvicorn==0.30.1
uvloop==0.19.0
virtualenv==20.26.3
watchfiles==0.22.0
webencodings==0.5.1
websockets==12.0
wrapt==1.16.0
xtcocotools==1.12
yapf==0.43.0
zipp==3.19.2
zstandard @ file:///home/conda/feedstock_root/build_artifacts/zstandard_1667296101734/work
